@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap");

* 
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
	font-family: 'Tajawal', sans-serif;
}

:root 
{
    --bg-color: #E70E3C;
    --second-color: #1f2029;
    --text-color: #D9D9D9;
    --btn-color: #ffeba7;
}

body
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    background-color: var(--bg-color)
}

.pricing-container
{
    display: flex;
    gap: 20px;
}

.pricing-plan
{
    text-align: center;
    background-color: var(--second-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    transition: transform 0.2s;
}

.pricing-plan:hover
{
    transform: translateY(-10px);
}

.plan-title
{
    font-size: 24px;
    font-weight: 600;
}
  
.plan-price
{
    font-size: 36px;
    font-weight: 600;
    color: #E70E3C;
}
  
.plan-features, .plan-features li
{
    margin: 12px 0;
}
  
.plan-button
{
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 6px;
    transition: .5s;
    color: #1f2029;
    background: var(--btn-color);
    border: 2px solid var(--btn-color);
}
  
.plan-button:hover
{
    background: transparent;
    cursor: pointer;
    color: var(--btn-color);
}

@media (max-width: 1250px)
{
    .pricing-container
    {
        flex-direction: column;
        align-items: center;
    }
}
  
